<div class="information">
    <div>
        <div class="title">Інформація</div>
    <div class="information-fields">
        <div class="field-row">
            <div class="field">
                <div class="field-title">Ім’я</div>
                <div class="field-input">
                    <input type="text" [value]="userData.name">
                </div>
            </div>
            <div class="field">
                <div class="field-title">Номер телефону</div>
                <div class="inner-field">
                    <div class="select-signup">
                        <div class="select">
                            <select name="" id="">
                                <option value="+380" selected>+380</option>
                                <option value="+44" selected>+44</option>
                            </select>
                        </div>
                        <div class="login-block_input phone-input phone-width">
                            <input type="text" placeholder="Номер телефону">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field-row">
            <div class="field">
                <div class="field-title">E-mail</div>
                <div class="field-input">
                    <input type="email" [value]="userData.email">
                </div>
            </div>
            <div class="field">
                <div class="field-title">Пароль</div>
                <div class="input-area">
                    <input [type]="passwordState" placeholder="Ваш пароль" [value]="userData.password" class="password-input">
                    <img src="assets/icons/eye-close.svg" (click)="toggleShowPassword()" class="eye-close"
                        style="width: 20px;" alt="">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="delete-account">
        <button (click)="deleteAccount()">Видалити акаунт</button>
    </div>
</div>