<div class="information">
    <div class="title">Інформація</div>
    <div class="information-fields">
        <div class="field-row">
            <div class="field">
                <div class="field-title">Ім’я</div>
                <div class="field-input">
                    <input type="text" placeholder="Юля">
                </div>
            </div>
            <div class="field">
                <div class="field-title">Ім’я</div>
                <div class="field-input">
                    <input type="text" placeholder="Юля">
                </div>
            </div>
        </div>
    </div>
</div>