<div class="menu">
    <div class="title">Меню</div>
    <div class="main-menu">
        <details>
            <summary>
                <div class="summary-left">
                    <div class="details-checkbox"><input type="checkbox"></div>
                    <div class="details-title">Десерти</div>
                </div>
                <div class="summary-right">
                    <div class="details-arrow"><img src="assets/icons/arrow-down.svg" alt=""></div>
                </div>
            </summary>
            <div class="menu-list">
                <div class="list-item">
                    <div class="item-left">
                        <div class="details-checkbox"><input type="checkbox"></div>
                        <div class="item-image"><img src="assets/images/img.png" alt=""></div>
                        <div class="item-title">Ягідні сирники</div>
                    </div>
                    <div class="item-right">
                        <div class="item-price">110₴</div>
                        <div class="item-stock">В наявності</div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-left">
                        <div class="details-checkbox"><input type="checkbox"></div>
                        <div class="item-image"><img src="assets/images/img.png" alt=""></div>
                        <div class="item-title">Ягідні сирники</div>
                    </div>
                    <div class="item-right">
                        <div class="item-price">110₴</div>
                        <div class="item-stock empty">В наявності</div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="item-left">
                        <div class="details-checkbox"><input type="checkbox"></div>
                        <div class="item-image"><img src="assets/images/img.png" alt=""></div>
                        <div class="item-title">Ягідні сирники</div>
                    </div>
                    <div class="item-right">
                        <div class="item-price">110₴</div>
                        <div class="item-stock">В наявності</div>
                    </div>
                </div>
            </div>
        </details>
    </div>
</div>