<div class="main-page">
    <app-header [addressData]="currentAddress"></app-header>
    <main class="main">
        <section class="promo">
            <div class="container container--mini" [ngSwitch]="state">
                <app-search (getLocation)="getCoords($event)" (getMeal)="state=States.Meal"
                    (getLocationName)="getNameLocation($event)"
                    (locationFromList)="locationFromList($event)"></app-search>
                <app-meal *ngSwitchCase="States.Meal"></app-meal>

                <ng-container *ngSwitchCase="States.Description">
                    <app-promo-description></app-promo-description>
                </ng-container>

                <ng-container *ngSwitchCase="States.LocalMeals">
                    <h2>тут <span class="text-decor">смачненьке</span> тільки для вас</h2>
                    <div class="promo__meals">
                        <app-meal-card></app-meal-card>
                        <app-meal-card></app-meal-card>
                        <app-meal-card></app-meal-card>
                    </div>
                </ng-container>

            </div>
        </section>
    </main>
    <app-footer></app-footer>

    <app-meal></app-meal>