@import "../../../assets/styles/variables";

.office{
    width: 100%;
    max-width: 1192px;
    min-height: 671px;
    display: flex;
    margin: 0 auto;
    margin-top: 60px;
}

.office-content{
    width: 100%;
    padding-left: 56px;
}

.office-tabs{
    width: 100%;
    max-width: 327px;
    padding-right: 57px;
    border-right: 2px solid #D1D5FF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.office-user{
    margin-bottom: 54px;
}

.tabs-icon{
    width: 32px;
    fill: #23264F;
}

.tabs ul li a{
    width: 100%;
    max-width: 324px;
    display: inline-block;
    padding: 16px;
    border-radius: 16px;
    color: @default-10;
}

.active{
    background: #E9EBFF;
    color: #6570E3 !important;
}

.active svg { fill: #6570E3; }

.tabs ul li:first-child{margin-top: 0;}
.tabs ul li{margin-top: 15px;}